/* reset */

html {
    scroll-behavior: smooth;
}

body {
    font: 16px sans-serif;
    margin: 0;
    padding:0;
    background:var(--dark);
}
:root{
    --warning: rgba(200, 0,0, 1);
    --info: rgba(0,0,200,1);
    --success: rgba(0,200,0,1);
    --radius: 5px;
    --large-m: 800px;
    --dark: #333;
}
h1,
h2, h3, p, ul {
    padding: 0;
    font-weight: 100;
    list-style-type: none;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* thème */
header{
    background:url(../img/bfwallpapper.jpg) no-repeat fixed center center / cover;
    background-color:var(--dark);
    line-height:50px;
    min-height:100vh;
    padding:10px 0 0 0;
}

header p{
    color:#fff;
    font-family: Niagara Engraved;
    font-size:30px;
    width: 500px;
    text-align:justify;
}

header a {
    display:block;
    text-align:center;
}

header a i{
    color:#fff;
    font-size:40px;
    background:rgb(91, 151, 121);
    border-radius: 100px;
    padding:7px 15px 7px 15px;
    transition:0.2s;
    
}

header a i:hover{
    background:rgb(132, 216, 174);
  
}

.contentHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:40vh 5% 0 5%;
    top:200px;
}

.logoLag{
    display:block;
    margin:0 0 100px 5%;
    top:25px;
    width:75px;  
}

.logoGame{
    width:300px; 
}

section{
    padding:50px 50px 0 50px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  
  #disponibilites{
    margin: 50px 0 50px 0;
    padding:50px 0 50px 0;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

  #calendrier{
    float:left;
    width:500px;
    height:300px;
    background:#fff;
}

  .form{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    align-content: space-between;
    flex-direction:row;
    height:300px;
  }

  .choixCoaching{
      display:flex;
      justify-content:space-between;
      align-items: flex-start;
      float:right;
      margin:0 0 0 60px;
      flex-direction:column;
      height:150px;
  }

  .buttonCoaching{
    color:#fff;
    background:rgb(91, 151, 121);
    padding:15px;
    border:none;
    border-radius:10px;
  }

  .boutonsChoix{
      display:flex;
      justify-content:space-between;
      width:330px;
  }

  .selectCoaching{
    
    color:#000;
    background:#fff;
    padding:15px 45px 15px 45px;
    border:none;
    border-radius:10px;
  }

  .buttonCoaching:hover{
    color:#fff;
    background:rgb(132, 216, 174);
    padding:15px;
    border:none;
    border-radius:10px;
  }



  #coachs{
    background:#333;
  }

  section h1{
      color:#fff;
  }



@media screen and (max-width:1024px){
    .contentHeader{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin:40vh 5% 0 5%;
        top:200px;
    }
    
    header h2{
        display:none;
        }

}


@media screen and (max-width:768px){

    .contentHeader{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin:40vh 5% 0 5%;
        top:200px;
    }
        header h2{
        display:none;
        }

        header p {
            text-align:justify;
            width:80%;
        }

        .form{
            display:flex;
            justify-content:space-between;
            align-items:flex-start;
            align-content: space-between;
            flex-direction:column;
            height:300px;
          }

}

@media screen and (max-width:480px){

    .contentHeader{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin:20vh 5% 0 5%;
        top:200px;
    }

    header p {
        display:none;
        width:80%;
        margin: 0 10% 0 10%;
    }

    header h2{
        display:none;
    }

    .logoGame{
        display:block;
        margin:0 0 0 10%;
        width:300px;
    }

    .reservation{
        border:solid 1px #fff;
        margin: 100px 0 0 0;
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-direction:column;
      }
    
      #calendrier{
        float:left;
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-direction:column;
    }
      .form{
        float:right;
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-direction:column;
      }
    
      .choixCoaching{
          display:flex;
          float:left;
          justify-content:space-between;
        align-items: flex-start;
        flex-direction:row;
      }
    
      .inputs{
        display:flex;
        float:right;
        justify-content:space-between;
        align-items: flex-start;
        flex-direction:row;
      }
    
      #coachs{
    
      }

      .form{
        display:flex;
        justify-content:space-between;
        align-items:center;
        align-content: space-between;
        flex-direction:column;
        
      }

      #calendrier{
          margin:0 0 20px 0;
          height:700px;
      }

      .choixCoaching{
        display:flex;
        justify-content:space-between;
        align-items: flex-start;
        float:right;
        margin:0 0 0 30px;
        flex-direction:column;
        height:1200px;
    }

}


 