/* reset */

html {
    scroll-behavior: smooth;
}

body {
    font: 16px sans-serif;
    margin: 0;
    padding:0;
    background:var(--dark);
}
:root{
    --warning: rgba(200, 0,0, 1);
    --info: rgba(0,0,200,1);
    --success: rgba(0,200,0,1);
    --radius: 5px;
    --large-m: 800px;
    --dark: #333;
}
h1,
h2, h3, p, ul {
    padding: 0;
    font-weight: 100;
    list-style-type: none;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* thème */
header{
    background:url(../img/bfwallpapper.jpg) no-repeat fixed center center / cover;
    background-color:var(--dark);
    line-height:50px;
    min-height:100vh;
    padding:10px 0 0 0;
}

header p{
    color:#fff;
    font-family: Niagara Engraved;
    font-size:30px;
    width: 500px;
}

header a i{
    color:#fff;
    font-size:40px;
    background:rgb(91, 151, 121);
    border-radius: 100px;
    padding:7px 15px 7px 15px;
    transition:0.2s;
}

header a i:hover{
    background:rgb(132, 216, 174);
  
}

.contentHeader{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin:40vh 0 0 0;
    top:200px;
}

.logoLag{
    display:block;
    margin:0 0 100px 5%;
    top:25px;
    width:75px;  
}

.logoGame{
    width:300px; 
}



.container {
    position: relative;
    text-align: center;
    color: white;
  }


  #reservation{
      height:1000px;
  }



@media screen and (max-width:1200px){

}


@media screen and (max-width:768px){


}


@media screen and (max-width:480px){

    header p {
        width:80%;
        font-size:14px;
        margin: 0 10% 0 10%;

    }

    .logoGame{
        display:block;
        margin:40vh 0  0 10%;
        width:300px;
    }

}


 